pip>=20.2.3
wheel>=0.35.1
matplotlib>=3.3.2
networkx>=2.5
descartes>=1.1.0
geopandas>=0.8.1
numpy>=1.19.2
pandas>=1.1.3
pyproj>=2.6
requests>=2.24.0
Rtree>=0.9.4
osmnx>=0.16.1
pytz>=2020.1
cffi>=1.14.3
setuptools>=50.3.1
folium>=0.11.0
scipy>=1.5.2
sklearn>=0.0
scikit-learn>=0.23.2
python-dateutil>=2.8.1
plotly>=4.11.0
retrying>=1.3.3
ipywidgets>=7.5.1
cycler>=0.10.0
Pillow>=8.0.0
ipython>=7.18.1
ipykernel>=5.3.4
pyparsing>=2.4.7
Cython>=0.29.21
inline>=0.0.1
joblib>=0.17.0
geopy>=2.0.0
gtfs-kit >= 5.0.2
tqdm>=4.50.2
seaborn >= 0.11.0
